# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

# Environment variables
.env

# Python packages
venv/
.venv/

# Logs
logs/

# IDEs
.vscode/
.idea/
.cursor/
.cursorrules/
.cursorrules/

# Files
*.csv